body p, ul, li {
    margin: 0;
    padding: 0;
    color: #ededed;
}

::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: #171717;
}

h1 {
 margin-top: 2.5px;
 margin-bottom:5px;
 font-size: 35px;
 color: #ededed
}

.res-h1 {
    margin-top: 20px;
    margin-bottom:5px;
    font-size: 35px;
    color: #ededed
}


h2 {
    line-height: 25px;
}

body {
    font-family: Helvetica, sans-serif;;
    background-color: #252525
}

header {
    background-color:  #2e2e2e;
    color: #ededed;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

#icon1 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top:30px;
    right: 50px;
}

#icon2 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top:30px;
    right: 110px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ededed;
    text-decoration: none;
}
#profile-image {
    width: 190px;
    height: 250px;
    float: right;
    margin-left: 20px;
}


p {
    font-size: 20px;
    color: #ededed
}

main {
    width: 1350px;
    margin: 20px auto;
    padding: 20px;
    line-height: 30px;
    background-color: #2e2e2e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ededed
}

.res-experience {
    margin-top:40px;
    margin-bottom:40px;
    color: #ededed
}

.res-experience h2 {
    margin-top:20px;
    margin-bottom:0;
    line-height: 15px;
    font-size:24px;
    color: #ededed
}

.res-experience h3 {
    margin-top:12px;
    margin-left:1px;
    margin-bottom:0;
    line-height:5px;
    font-size: 17px;
    color: #a1a1a1;
}

.res-experience p {
    margin-top: 12px;
    line-height: 23px;
    width: 1100px;
    font-size: 16px;
    color: #dddddd;
}

.res-experience ul {
    margin-top: 20px;
}

.res-experience li {
    margin-top: 12px;
    line-height:7px;
    margin-left: 35px;
    font-size: 16px;
    margin-bottom: 20px;
    color: #ededed
}

.res-list ul {
    margin-top: 20px;
    margin-bottom: 40px;
}

.res-list ul li {
    margin-left: 35px;
    font-size: 16px;
    color: #ededed
}

.res-list p {
    margin-left: 20px;
    font-size: 16px;
    color: #dddddd
}

.res-list h1 {
    margin-top: 20px;
}
.date {
    font-size:17px;
    float: right;
    color:#a1a1a1;
}
footer {
    text-align: center;
    padding: 0px;
    background-color: #333;
    color: #ededed;
}

.certs {
    margin-top: 30px;
    margin-bottom: 40px;
}

.certs p {
    color: #ededed;
}
.certs p a {
    color: #ededed;
}