body p, ul, li {
    margin: 0;
    padding: 0;
    color: #ededed;
}

::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: #171717;
}


h1 {
 margin-top: 2.5px;
 margin-bottom:5px;
 font-size: 35px;
 color: #ededed;
}

h2 {
    line-height: 25px;
    color: #ededed;
}

body {
    font-family: Helvetica, sans-serif;;
    background-color: #252525;
}

header {
    background-color: #2e2e2e;
    color: #ededed;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

#icon1 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top:30px;
    right: 110px;
}

#icon2 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top:30px;
    right: 170px;
}

#icon3 {
    position: absolute;
    width: 47px;
    height: 47px;
    top:32px;
    right: 50px;
}


nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ededed;
    text-decoration: none;
}
#profile-image {
    width: 190px;
    height: 220px;
    float: right;
    margin-left: 20px;
}

p {
    font-size: 20px;
    color: #ededed;
}


main {
    width: 800px;
    height: 450px;
    margin: 20px auto;
    padding: 20px;
    line-height: 30px;
    background-color: #2e2e2e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 0px;
    background-color: #333;
    color: #ededed;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    #icon1 {
        width: 30px;
        height: 30px;
        top: 15px;
        left: 20px;
    }
    #icon2 {
        width: 30px;
        height: 30px;
        top: 15px;
        right: 20px;
    }

    nav ul li {
        margin-right: 10px;
    }

    #profile-image {
        width: 100%;
        height: auto;
        float: none;
        margin-left: 0;
    }

    main {
        width: auto;
        margin: 10px;
        padding: 10px;
    }
}